.detailsContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/paris-background.jpg);
    background-size: cover;
    font-size: xx-large;
    font-style: italic;
    background-position: 50%;
    color: white;
    flex-direction: column;
    justify-content: space-around;
}
.cardDetails{
    width: 80%;
    margin: auto;
    display: flex;
    background-color: #000000c2;
    justify-content: center;
    border-radius: 20px;

}
h1{
    margin-top: 30px;
    background: #7c7281c2;
    border-radius: 20px;
    padding: 1rem;
}

.detailsImg{
    border-radius: 4px 100px 150px 1px;
}
.detailsText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width:730px) {
    .cardDetails{
        width: 20rem;
        margin: auto;
        display: flex;
        background-color: #000000c2;
        justify-content: center;
        border-radius: 20px;
        flex-direction: column;
        height: 367px;
    }
    .detailsImg{
        border-radius: 8px 8px 0px 0px;
    }
    
}
.leftArrow{
    background-color: white;
    border-radius: 50%;
    height: 45px;
}