.editCityContainer{
    background-image: url(../img/paris-background.jpg);
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    font-style: italic;
    background-position: 50%;
    color: white;
    flex-direction: column;
}
/* h1{
    background: #7c7281c2;
    border-radius: 20px;
    padding: 1rem;
} */

.selectAndFormContainer{
    width: 320px;
    margin: auto;
    display: grid;
    justify-content: center;
    background-color: #f1cba5;
    border-radius: 12px;
    font-size: 18px;
    padding: 40px;
}
.selectEdit{
    width: 50%;
    margin: auto;
    padding: 4px;
}
