.itinerariesContainer{
    width: 100%;
    /* height: 125px; */
}
.itinerary-price-duration{
    width: 40.9%;
    display: flex;
    justify-content: space-evenly;
    border: solid 2px;
    margin: auto;
}
.itineraryTags{
    width: 40%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.itineraryContainer{
    background-color: #00000096;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
}
.itineraryInfo{
    margin: 1rem;
}
.likeButton{
    width: 30px;
}