.CardContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.CardContainer div {
    width: 250px;
    /* height: 350px; */
    
}
.Card{
    margin: 15px;
    /* display: flex; */
   align-content: center;
   background-color:#ff3d5a ;
   color: whitesmoke; 
   width: 14rem; 
   border-radius: 8px; 
}
.cardImg{
    height: 166px;
    border-radius: 8px 8px 0px 0px;
    width: 250px;
}
h5{
    font-style: italic;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
}
h2{
    width: 100%;
    background-color: #0000003b;
}