* {
  margin: 0;
}

.navContainer {
  width: 100%;
  background-color: black;
  min-height: 10vh;
}
#btn-menu {
  display: none;
}

.navContainer label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
}
.navContainer label:hover {
  cursor: pointer;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navContainer label {
    display: block;
  }
  .menu {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
    margin-top: 10px;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid white;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
    z-index: 1;
  }
}
.logoUser {
  width: 30px;
  border-radius: 50%;
}
.logoMenu {
  width: 30px;
  height: 30px;
}
